<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  <input type="button" (click)="obtenerPersona()">
  <div style="text-align:center">
    <div class = "tipoRoom">
      <label>Tipo de habitacion: </label>
    <select id="selectNombreHabitacion">
      <option *ngFor= "let opciones of miHotel.nombreHabitaciones" value="">
        <p>
            {{opciones}}
        </p></option>
    </select>
  </div>
    <div class = "tipoCama">
    <label>Tipo de cama: </label>
    <select class = "selectC" id="selectCama">
        <option *ngFor= "let opciones of miHotel.camas" >
              {{opciones}}
        </option>
      </select>
    </div>
      <div class= "categoria">
      <label>
          categoria
        </label>
        <select id="selectCategoria">
          <option>*</option>
          <option>**</option>
          <option>***</option>
          <option>****</option>
          <option>*****</option>
        </select>
      </div>
        <div class="checkbox">
          <label>Complementos: </label>
    <p *ngFor = "let extra of miHotel.extras">
    <input type="checkbox" id={{extra}} value={{extra}}> {{extra}}<br>
  </p>
  </div>
  <div class = "precio" >
  <label >
    Precio
  </label>
  <input type="text" id="precio" id="precioInput">
  </div>
  <input type="submit" value="Submit" (click)="getHotelCreado()">
  </div>
</ion-content>
