<ion-header>
  <ion-toolbar>
    <ion-title>
      HOTELILLOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
    <div style="text-align:center">
        <div class = "tipoRoom">
          <ion-item>
            <label>Tipo de habitacion: </label>
            <ion-select [(ngModel)]="todo.tipo" name="tipo" [ngModelOptions]="{standalone: false}" placeholder="Selecciona un tipo habitacion" id="selectNombreHabitacion">
              <ion-select-option *ngFor= "let opciones of miHotel.nombreHabitaciones">
                {{opciones}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class = "tipoCama">
          <ion-item>
            <label>Tipo de cama</label>
            <ion-select [(ngModel)]="todo.cama" name="cama" [ngModelOptions]="{standalone: false}" placeholder="Selecciona un tipo de Cama" class = "selectC" id="selectCama">
              <ion-select-option *ngFor= "let opciones of miHotel.camas">
                {{opciones}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class= "categoria">
          <ion-item>
            <label>Categoria</label>
            <ion-select [(ngModel)]="todo.categoria" name="categoria" [ngModelOptions]="{standalone: false}" placeholder="Selecciona una Categoria">
            <ion-select-option value="*">*</ion-select-option>
            <ion-select-option value="**">**</ion-select-option>
            <ion-select-option value="***">***</ion-select-option>
            <ion-select-option value="****">****</ion-select-option>
            <ion-select-option value="*****">*****</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="checkbox">
        <ion-item>
          <label>COMPLEMENTOS </label>
          <ion-list>
            <ion-item>
              <ion-label>Secador</ion-label>
              <ion-checkbox aria-checked="true" [(ngModel)]="complementos.secador" name="secador"> </ion-checkbox>
            </ion-item>
            <ion-item>
        <ion-label>Minibar</ion-label>
        <ion-checkbox aria-checked="true" [(ngModel)]="complementos.minibar" name="minibar"> </ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-item>
</div>
<div class = "precio">
  <ion-item>
    
    <ion-input placeholder = "Introduzca el precio que desea" type="text" [(ngModel)]="todo.precio" name="precio"></ion-input>
  </ion-item>
</div>
<ion-item >
  <ion-button type="submit" value="Submit" (click)="filtrar()">BUSCAR HOTELES</ion-button>
</ion-item>
</div>
</ion-item>
<ion-item>
<ion-button type="button" (click)="obetenerHoteles()">MOSTRAR HABITACIONES</ion-button>
</ion-item>
</ion-content>
